<header class="header-container shadow-[0px_24px_40px_0px_rgba(0,0,0,0.03)] sticky top-0 py-3">
    <div class="content limited-container flex justify-between items-center">
        <div class="logo">
            <img src="/assets/static/logo.svg" alt="">
        </div>
        <div class="menu-invoker h-[38px]">
            <button class="">
                <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="19" cy="19" r="18.5" stroke="#FFC4C4"/>
                    <line x1="7.5" y1="13.5" x2="30.5" y2="13.5" stroke="#020B26" stroke-linecap="round" stroke-linejoin="round"/>
                    <line x1="7.5" y1="19" x2="30.5" y2="19" stroke="#020B26" stroke-linecap="round" stroke-linejoin="round"/>
                    <line x1="7.5" y1="24.5" x2="30.5" y2="24.5" stroke="#020B26" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>
</header>