<div class="section-content">
    <div class="limited-container py-16 flex flex-col-reverse gap-10 xl:gap-0 xl:flex-row justify-between items-stretch">
        <div class="steps-container w-full xl:w-[775px] flex flex-col gap-10">
            <h1 class="text-(color:--secondary) !font-['Unigeo'] text-2xl leading-[120%] font-semibold">
                Saiba como vender na nossa plataforma
            </h1>
            <div class="steps flex flex-wrap gap-3 justify-start items-stretch">
                <div class="box w-full lg:w-[250px] flex flex-col gap-4 p-7 rounded-lg border-[0.5px] border-(color:--secondary)">
                    <h1 class="!font-[Montserrat] font-bold text-lg flex gap-3 items-center text-(color:--primary) leading-[120%] -tracking-[2%]">
                      1º Passo
                    </h1>
                    <div class="details-content flex flex-col gap-3">
                        <p class="!font-['Montserrat'] leading-[120%] text-(color:--secondary) tracking-[-2%]">
                            O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
                        </p>
                    </div>
                </div>
                <div class="box w-full lg:w-[250px] flex flex-col gap-4 p-7 rounded-lg border-[0.5px] border-(color:--secondary)">
                    <h1 class="!font-[Montserrat] font-bold text-lg flex gap-3 items-center text-(color:--primary) leading-[120%] -tracking-[2%]">
                      2º Passo
                    </h1>
                    <div class="details-content flex flex-col gap-3">
                        <p class="!font-['Montserrat'] leading-[120%] text-(color:--secondary) tracking-[-2%]">
                            O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
                        </p>
                    </div>
                </div>
                <div class="box w-full lg:w-[250px] flex flex-col gap-4 p-7 rounded-lg border-[0.5px] border-(color:--secondary)">
                    <h1 class="!font-[Montserrat] font-bold text-lg flex gap-3 items-center text-(color:--primary) leading-[120%] -tracking-[2%]">
                      3º Passo
                    </h1>
                    <div class="details-content flex flex-col gap-3">
                        <p class="!font-['Montserrat'] leading-[120%] text-(color:--secondary) tracking-[-2%]">
                            O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
                        </p>
                    </div>
                </div>
                <div class="box w-full lg:w-[250px] flex flex-col gap-4 p-7 rounded-lg border-[0.5px] border-(color:--secondary)">
                    <h1 class="!font-[Montserrat] font-bold text-lg flex gap-3 items-center text-(color:--primary) leading-[120%] -tracking-[2%]">
                      4º Passo
                    </h1>
                    <div class="details-content flex flex-col gap-3">
                        <p class="!font-['Montserrat'] leading-[120%] text-(color:--secondary) tracking-[-2%]">
                            O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
                        </p>
                    </div>
                </div>
                <div class="box w-full lg:w-[250px] flex flex-col gap-4 p-7 rounded-lg border-[0.5px] border-(color:--secondary)">
                    <h1 class="!font-[Montserrat] font-bold text-lg flex gap-3 items-center text-(color:--primary) leading-[120%] -tracking-[2%]">
                      5º Passo
                    </h1>
                    <div class="details-content flex flex-col gap-3">
                        <p class="!font-['Montserrat'] leading-[120%] text-(color:--secondary) tracking-[-2%]">
                            O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-form w-full xl:w-[470px]">
            <div class="form-container p-7 rounded-lg border-[0.5px] border-(color:--secondary) lg:sticky lg:top-[110px]">
                <div class="form-header flex flex-col gap-4">
                    <!-- <h1 class="text-(color:--secondary) font-semibold text-2xl leading-[120%] !font-['Unigeo']">
                        Cria a sua conta para vender connoscos
                    </h1> -->
                    <p class="text-(color:--secondary)/60 text-sm leading-[120%] -tracking-[2%] !font-['Montserrat']">
                        Insira o seu e-mail ou Whatsapp para o próximo passo da compra do Bilhete
                    </p>
                </div>
                <div class="form-body mt-4">
                    <form class="flex flex-col gap-4">
                        <div class="input flex flex-col gap-2">
                            <label for="name" class="font-medium !font-['Montserrat'] text-sm text-(color:--secondary)">Nome</label>
                            <input type="text" id="name" placeholder="Nome Completo" class="w-full px-3 py-4 focus:outline-none border-[0.5px] border-(color:--secondary) rounded-lg placeholder:text-(color:--secondary)/50 text-xs placeholder:text-xs">
                        </div>
                        <div class="input flex flex-col gap-2">
                            <label for="email" class="font-medium !font-['Montserrat'] text-sm text-(color:--secondary)">Email</label>
                            <input type="email" id="email" placeholder="Email" class="w-full px-3 py-4 focus:outline-none border-[0.5px] border-(color:--secondary) rounded-lg placeholder:text-(color:--secondary)/50 text-xs placeholder:text-xs">
                        </div>
                        <div class="input flex flex-col gap-2">
                            <label for="password" class="font-medium !font-['Montserrat'] text-sm text-(color:--secondary)">Senha</label>
                            <input type="password" id="password" placeholder="Senha" class="w-full px-3 py-4 focus:outline-none border-[0.5px] border-(color:--secondary) rounded-lg placeholder:text-(color:--secondary)/50 text-xs placeholder:text-xs">
                        </div>
                        <div class="submit w-full mt-7">
                            <button type="" class="bg-(color:--primary) text-white w-full py-4 text-center !font-['Montserrat'] text-sm font-medium rounded-lg">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>