<div class="section-container">
    @if(!this.error404()){
        <app-page-head [breadcrumbs]="[
        { name: 'Página Inicial', route: ['/'] },
        { name: 'Eventos', route: ['/events'] },
        { name: this.checkouts()[0].event.title , route: ['/events/details/' + this.checkouts()[0].event.slug] },
        { name: 'Concluir compra' }
        ]">
            <h1 class="!font-['Unigeo'] font-semibold text-3xl leading-[120%] tracking-[0%]">
                Conclua a sua compra
            </h1>
        </app-page-head>
        <app-ticket [checkouts]="this.checkouts()" />
        <app-book-ticket (purchaseFormDateEventEmitter)="purchaseTicket($event)" [purchaseCompleted]="purchaseCompleted()" [isPurchasingTicket]="isPurchasingTicket()" />
    } @else {
        <app-page-head [breadcrumbs]="[
        { name: 'Página Inicial', route: ['/'] },
        { name: 'Eventos', route: ['/events'] },
        { name: 'Concluir compra' },
        { name: 'Pedido não encontrado' }
        ]">
            <h1 class="!font-['Unigeo'] font-semibold text-3xl leading-[120%] tracking-[0%]">
                O seu processo de compra não foi encontrado
            </h1>
        </app-page-head>
    }
</div>