<div class="section-content bg-(color:--primary) py-10">
    <div class="limited-container flex flex-col gap-[50px] xl:flex-row xl:justify-between xl:items-center">
        <div class="content w-full flex flex-col gap-3 text-white xl:max-w-[509px]">
            <h1 class=" !font-[Unigeo] font-semibold text-[45px] xl:text-6xl leading-[120%]">
                Publica o seu evento connosco 
            </h1>
            <p class=" text-xl leading-[120%] text-[#F2F2F2]">
                Somos uma plataforma Somos uma
            </p>
        </div>
        <div class="image xl:w-[446px] h-full">
            <img src="/assets/images/home/hero/event.png" class="w-full h-full object-cover object-center" alt="">
        </div>
    </div>
</div>