<div class="section-content bg-(color:--primary) py-10">
    <div class="limited-container flex flex-col gap-[50px] lg:flex-row lg:justify-between lg:items-center">
        <div data-aos="fade-right" data-aos-offset="0" class="content w-full flex flex-col gap-3 text-white lg:max-w-[509px]">
            <h1 class=" !font-[Unigeo] font-semibold text-[45px] xl:text-6xl leading-[120%]">
                Publica o seu evento connosco 
            </h1>
            <p class=" text-xl leading-[120%] text-[#F2F2F2]">
                Somos uma plataforma online para compra e venda de ingressos para vários tipos de eventos, tais como shows, concertos, conferências e muito mais.
            </p>
        </div>
        <div data-aos="fade-left" data-aos-once="true" class="image lg:w-[446px] h-[420px] lg:h-[500px] rounded-4xl overflow-hidden">
            <img src="/assets/images/home/hero/event.png" class="w-full h-full object-cover object-center" alt="">
        </div>
    </div>
</div>